In [1]:
#Packages used for model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

#For visuals
warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns',None)

In [2]:
adult = pd.read_csv('C:/Users/bartl/Desktop/Data-Science-/Housing Recomendation System/data/adult.csv')

adult.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
adult = adult.replace({'?': 'Unknown'})

In [6]:
#Creating a new column to hold random income
adult['random_income'] = adult['income']
 
#Create a mask identity for rows that are '>50k'
mask = adult['income'] == '>50K'

#Create a mask identity for raws that are '<=50k'
mask1 = adult['income'] == '<=50k'

#Generate random income value in rows that are over '50k' in income
adult.loc[mask, 'random_income'] = np.random.uniform(50001, 400000, size=np.sum(mask))

#Generate random income value in rows that are under '50k' in income
adult.loc[mask1, 'random_income'] = np.random.uniform(1000, 50000, size=np.sum(mask1))

#adult['income'].fillna(0, inplace=True)

#Convert the income column to integer type
adult['random_income'] = adult['random_income'].astype(int)

ValueError: invalid literal for int() with base 10: '<=50K'