In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import requests

#Settings
pd.set_option("display.max_columns", None)

In [2]:
load_dotenv('zillow.env')
API_KEY = '56da8635-db6d-4674-810a-b5b90ac3cb37'

In [3]:
def get_listings(API, link):
    url = "https://app.scrapeak.com/v1/scrapers/zillow/listing"
    
    query_strng = {"api_key": API,
                   "url": link
                   }
    return requests.request("GET",url, params=query_strng)

In [4]:
listing_url = ["https://www.zillow.com/miami-fl/?searchQueryState=%7B%22mapBounds%22%3A%7B%22north%22%3A25.881380922191553%2C%22east%22%3A-80.03321940771484%2C%22south%22%3A25.524388696288366%2C%22west%22%3A-80.65463359228515%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A12%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A12700%2C%22regionType%22%3A6%7D%5D%2C%22pagination%22%3A%7B%7D%7D",
           "https://www.zillow.com/arlington-va/?searchQueryState=%7B%22pagination%22%3A%7B%7D%2C%22mapBounds%22%3A%7B%22north%22%3A39.04768381076157%2C%22east%22%3A-76.73007390771484%2C%22south%22%3A38.73932083199976%2C%22west%22%3A-77.35148809228515%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A30258%2C%22regionType%22%3A6%7D%2C%7B%22regionId%22%3A41568%2C%22regionType%22%3A6%7D%5D%2C%22mapZoom%22%3A12%7D",
           "https://www.zillow.com/denver-co/?searchQueryState=%7B%22mapBounds%22%3A%7B%22north%22%3A40.19077327121551%2C%22east%22%3A-104.44142431542967%2C%22south%22%3A39.582769610184165%2C%22west%22%3A-105.6842526845703%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A11%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A11093%2C%22regionType%22%3A6%7D%2C%7B%22regionId%22%3A30543%2C%22regionType%22%3A6%7D%5D%2C%22pagination%22%3A%7B%7D%7D",
           "https://www.zillow.com/atlanta-ga/?searchQueryState=%7B%22mapBounds%22%3A%7B%22north%22%3A33.92499099785205%2C%22east%22%3A-84.14820990771484%2C%22south%22%3A33.59560777695239%2C%22west%22%3A-84.76962409228516%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A12%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A37211%2C%22regionType%22%3A6%7D%5D%2C%22pagination%22%3A%7B%7D%7D",
           "https://www.zillow.com/san-francisco-ca/?searchQueryState=%7B%22mapBounds%22%3A%7B%22north%22%3A37.85354042270874%2C%22east%22%3A-122.27797595385742%2C%22south%22%3A37.696960579597885%2C%22west%22%3A-122.58868304614258%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A13%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A20330%2C%22regionType%22%3A6%7D%5D%2C%22pagination%22%3A%7B%7D%7D",
           "https://www.zillow.com/cleveland-oh/?searchQueryState=%7B%22mapBounds%22%3A%7B%22north%22%3A41.64582174753742%2C%22east%22%3A-81.39515290771485%2C%22south%22%3A41.349078810027834%2C%22west%22%3A-82.01656709228516%7D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A12%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A24115%2C%22regionType%22%3A6%7D%5D%2C%22pagination%22%3A%7B%7D%7D",
           "https://www.zillow.com/austin-tx/?searchQueryState=%7B%22pagination%22%3A%7B%7D%2C%22mapBounds%22%3A%7B%22north%22%3A30.635432669955684%2C%22east%22%3A-97.19473881542967%2C%22south%22%3A29.951247981999554%2C%22west%22%3A-98.4375671845703%7D%2C%22mapZoom%22%3A11%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A10221%2C%22regionType%22%3A6%7D%5D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%2C%22built%22%3A%7B%22max%22%3A2023%7D%7D%2C%22isListVisible%22%3Atrue%7D"
        
        
        
    ]

In [5]:
df_listings_combined = pd.DataFrame()

for url in listing_url:
    listing_response = get_listings(API_KEY, url)
  
   
    #Returning results from loop to a dataframe
    df_listings = pd.json_normalize(listing_response.json()["data"]["cat1"]["searchResults"]["mapResults"])
    
    #Combining dataframes 
    df_listings_combined = pd.concat([df_listings_combined, df_listings], ignore_index=True)
    

#Printing out the results
print(f"Number of rows: {len(df_listings_combined)}")
print(f"Number of columns: {len(df_listings_combined.columns)}")
print(df_listings_combined)

Number of rows: 3504
Number of columns: 106
          zpid          price priceLabel  beds  baths    area statusType  \
0     44329567       $498,000      $498K   3.0    2.0  1986.0   FOR_SALE
1     43810739       $460,000      $460K   3.0    2.0  1656.0   FOR_SALE
2     43816067       $550,000      $550K   5.0    3.0  1775.0   FOR_SALE
3     44363861       $485,000      $485K   3.0    2.0  1509.0   FOR_SALE
4     62926081       $175,900      $176K   1.0    1.0   496.0   FOR_SALE
...        ...            ...        ...   ...    ...     ...        ...
3499  29341378     $3,695,000     $3.70M   4.0    6.0  5746.0   FOR_SALE
3500  29351755     $1,195,000     $1.20M   4.0    3.0  2316.0   FOR_SALE
3501  29390096       $699,000      $699K   3.0    2.0  1275.0   FOR_SALE
3502       NaN  From $437,990        NaN   NaN    NaN     NaN   FOR_SALE
3503       NaN  From $399,999        NaN   NaN    NaN     NaN   FOR_SALE

          statusText isFavorite isUserClaimingOwner isUserConfirmedClaim  \
0     House for sale      False               False                False
1     House for sale      False               False                False
2     House for sale      False               False                False
3     House for sale      False               False                False
4     Condo for sale      False               False                False
...              ...        ...                 ...                  ...
3499          Active      False               False                False
3500          Active      False               False                False
3501          Active      False               False                False
3502             NaN        NaN                 NaN                  NaN
3503             NaN        NaN                 NaN                  NaN

                                                 imgSrc hasImage visited  \
0     https://photos.zillowstatic.com/fp/fb1edca6b3e...     True   False
1     https://photos.zillowstatic.com/fp/a83d83035b7...     True   False
2     https://photos.zillowstatic.com/fp/591696b3ee1...     True   False
3     https://photos.zillowstatic.com/fp/4061835dc9d...     True   False
4     https://photos.zillowstatic.com/fp/3ebd0637d0d...     True   False
...                                                 ...      ...     ...
3499  https://photos.zillowstatic.com/fp/3b1d96d0df7...     True   False
3500  https://photos.zillowstatic.com/fp/698d7dd0f2f...     True   False
3501  https://photos.zillowstatic.com/fp/9222f9414ae...     True   False
3502                                                NaN      NaN     NaN
3503                                                NaN      NaN     NaN

           listingType shouldShowZestimateAsPrice  \
0                                           False
1                                           False
2                                           False
3                                           False
4                                           False
...                ...                        ...
3499                                        False
3500                                        False
3501                                        False
3502  NEW_CONSTRUCTION                        NaN
3503  NEW_CONSTRUCTION                        NaN

                                              detailUrl    pgapt  \
0     /homedetails/15053-SW-142nd-Ct-Miami-FL-33186/...  ForSale
1     /homedetails/1752-NW-44th-St-Miami-FL-33142/43...  ForSale
2     /homedetails/761-NW-34th-St-Miami-FL-33127/438...  ForSale
3     /homedetails/12066-SW-210th-Ter-Miami-FL-33177...  ForSale
4     /homedetails/1525-NW-19th-Ter-APT-10-Miami-FL-...  ForSale
...                                                 ...      ...
3499  /homedetails/2547-Waymaker-Way-Austin-TX-78746...  ForSale
3500  /homedetails/5609-Courtyard-Cv-Austin-TX-78731...  ForSale
3501  /homedetails/3104-E-16th-St-Austin-TX-78702/29...  ForSale
3502        /community/messinger-village/29417332_plid/      NaN
3503          /community/vistas-of-austin/5707579_plid/      NaN

                  sgapt has3DModel hasVideo isHomeRec  \
0     For Sale (Broker)      False    False     False
1     For Sale (Broker)       True    False     False
2     For Sale (Broker)      False    False     False
3     For Sale (Broker)      False    False     False
4     For Sale (Broker)      False    False     False
...                 ...        ...      ...       ...
3499  For Sale (Broker)      False     True     False
3500  For Sale (Broker)      False    False     False
3501  For Sale (Broker)      False    False     False
3502                NaN        NaN      NaN       NaN
3503                NaN        NaN      NaN       NaN

                                       address hasAdditionalAttributions  \
0           15053 SW 142nd Ct, Miami, FL 33186                     False
1             1752 NW 44th St, Miami, FL 33142                     False
2              761 NW 34th St, Miami, FL 33127                     False
3          12066 SW 210th Ter, Miami, FL 33177                     False
4     1525 NW 19th Ter APT 10, Miami, FL 33125                     False
...                                        ...                       ...
3499       2547 Waymaker Way, Austin, TX 78746                     False
3500       5609 Courtyard Cv, Austin, TX 78731                     False
3501          3104 E 16th St, Austin, TX 78702                     False
3502                                       NaN                       NaN
3503                                       NaN                       NaN

     isFeaturedListing isShowcaseListing availabilityDate  timeOnZillow  \
0                False             False              NaN  3.902843e+08
1                False             False              NaN  3.902843e+08
2                False             False              NaN  1.310843e+08
3                False             False              NaN  3.038843e+08
4                False             False              NaN  1.310843e+08
...                ...               ...              ...           ...
3499             False             False              NaN  4.021491e+09
3500             False             False              NaN  1.706949e+08
3501             False             False              NaN  8.111774e+07
3502               NaN               NaN              NaN           NaN
3503               NaN               NaN              NaN           NaN

      latLong.latitude  latLong.longitude  variableData.type  \
0            25.626870         -80.423220         OPEN_HOUSE
1            25.815348         -80.225310            3D_HOME
2            25.808447         -80.208900                NaN
3            25.570557         -80.388020                NaN
4            25.794119         -80.221970                NaN
...                ...                ...                ...
3499         30.323107         -97.808630  VIDEO_WALKTHROUGH
3500         30.355873         -97.790000         OPEN_HOUSE
3501         30.279870         -97.702550       TIME_ON_INFO
3502         30.169667         -97.816333                NaN
3503         30.138421         -97.762290                NaN

        variableData.text  hdpData.homeInfo.zpid  \
0        Open: Sat. 4-6pm             44329567.0
1                 3D Tour             43810739.0
2                     NaN             43816067.0
3                     NaN             44363861.0
4                     NaN             62926081.0
...                   ...                    ...
3499    Video Walkthrough             29341378.0
3500  Open: Sat. 11am-2pm             29351755.0
3501         22 hours ago             29390096.0
3502                  NaN                    NaN
3503                  NaN                    NaN

     hdpData.homeInfo.streetAddress hdpData.homeInfo.zipcode  \
0                 15053 SW 142nd Ct                    33186
1                   1752 NW 44th St                    33142
2                    761 NW 34th St                    33127
3                12066 SW 210th Ter                    33177
4           1525 NW 19th Ter APT 10                    33125
...                             ...                      ...
3499              2547 Waymaker Way                    78746
3500              5609 Courtyard Cv                    78731
3501                 3104 E 16th St                    78702
3502                            NaN                      NaN
3503                            NaN                      NaN

     hdpData.homeInfo.city hdpData.homeInfo.state  hdpData.homeInfo.latitude  \
0                    Miami                     FL                  25.626870
1                    Miami                     FL                  25.815348
2                    Miami                     FL                  25.808447
3                    Miami                     FL                  25.570557
4                    Miami                     FL                  25.794119
...                    ...                    ...                        ...
3499                Austin                     TX                  30.323107
3500                Austin                     TX                  30.355873
3501                Austin                     TX                  30.279870
3502                   NaN                    NaN                        NaN
3503                   NaN                    NaN                        NaN

      hdpData.homeInfo.longitude  hdpData.homeInfo.price  \
0                      -80.42322                498000.0
1                      -80.22531                460000.0
2                      -80.20890                550000.0
3                      -80.38802                485000.0
4                      -80.22197                175900.0
...                          ...                     ...
3499                   -97.80863               3695000.0
3500                   -97.79000               1195000.0
3501                   -97.70255                699000.0
3502                         NaN                     NaN
3503                         NaN                     NaN

      hdpData.homeInfo.bathrooms  hdpData.homeInfo.bedrooms  \
0                            2.0                        3.0
1                            2.0                        3.0
2                            3.0                        5.0
3                            2.0                        3.0
4                            1.0                        1.0
...                          ...                        ...
3499                         6.0                        4.0
3500                         3.0                        4.0
3501                         2.0                        3.0
3502                         NaN                        NaN
3503                         NaN                        NaN

      hdpData.homeInfo.livingArea hdpData.homeInfo.homeType  \
0                          1986.0             SINGLE_FAMILY
1                          1656.0             SINGLE_FAMILY
2                          1775.0             SINGLE_FAMILY
3                          1509.0             SINGLE_FAMILY
4                           496.0                     CONDO
...                           ...                       ...
3499                       5746.0             SINGLE_FAMILY
3500                       2316.0             SINGLE_FAMILY
3501                       1275.0             SINGLE_FAMILY
3502                          NaN                       NaN
3503                          NaN                       NaN

     hdpData.homeInfo.homeStatus  hdpData.homeInfo.daysOnZillow  \
0                       FOR_SALE                           -1.0
1                       FOR_SALE                           -1.0
2                       FOR_SALE                           -1.0
3                       FOR_SALE                           -1.0
4                       FOR_SALE                           -1.0
...                          ...                            ...
3499                    FOR_SALE                           -1.0
3500                    FOR_SALE                           -1.0
3501                    FOR_SALE                           -1.0
3502                         NaN                            NaN
3503                         NaN                            NaN

     hdpData.homeInfo.isFeatured hdpData.homeInfo.shouldHighlight  \
0                          False                            False
1                          False                            False
2                          False                            False
3                          False                            False
4                          False                            False
...                          ...                              ...
3499                       False                            False
3500                       False                            False
3501                       False                            False
3502                         NaN                              NaN
3503                         NaN                              NaN

      hdpData.homeInfo.zestimate  hdpData.homeInfo.rentZestimate  \
0                       476347.0                          3858.0
1                            NaN                             NaN
2                       525555.0                          3800.0
3                            NaN                             NaN
4                       172533.0                          1852.0
...                          ...                             ...
3499                         NaN                             NaN
3500                   1162702.0                          3999.0
3501                         NaN                             NaN
3502                         NaN                             NaN
3503                         NaN                             NaN

     hdpData.homeInfo.listing_sub_type.is_openHouse  \
0                                              True
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN
...                                             ...
3499                                            NaN
3500                                           True
3501                                            NaN
3502                                            NaN
3503                                            NaN

     hdpData.homeInfo.listing_sub_type.is_FSBA hdpData.homeInfo.openHouse  \
0                                         True                 Sat. 4-6pm
1                                         True                        NaN
2                                         True                        NaN
3                                         True                        NaN
4                                         True                        NaN
...                                        ...                        ...
3499                                      True                        NaN
3500                                      True              Sat. 11am-2pm
3501                                      True                        NaN
3502                                       NaN                        NaN
3503                                       NaN                        NaN

     hdpData.homeInfo.isUnmappable hdpData.homeInfo.isPreforeclosureAuction  \
0                            False                                    False
1                            False                                    False
2                            False                                    False
3                            False                                    False
4                            False                                    False
...                            ...                                      ...
3499                         False                                    False
3500                         False                                    False
3501                         False                                    False
3502                           NaN                                      NaN
3503                           NaN                                      NaN

     hdpData.homeInfo.homeStatusForHDP  hdpData.homeInfo.priceForHDP  \
0                             FOR_SALE                      498000.0
1                             FOR_SALE                      460000.0
2                             FOR_SALE                      550000.0
3                             FOR_SALE                      485000.0
4                             FOR_SALE                      175900.0
...                                ...                           ...
3499                          FOR_SALE                     3695000.0
3500                          FOR_SALE                     1195000.0
3501                          FOR_SALE                      699000.0
3502                               NaN                           NaN
3503                               NaN                           NaN

     hdpData.homeInfo.open_house_info.open_house_showing  \
0     [{'open_house_start': 1685833200000, 'open_hou...
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
3499                                                NaN
3500  [{'open_house_start': 1685815200000, 'open_hou...
3501                                                NaN
3502                                                NaN
3503                                                NaN

     hdpData.homeInfo.isNonOwnerOccupied hdpData.homeInfo.isPremierBuilder  \
0                                   True                             False
1                                   True                             False
2                                   True                             False
3                                   True                             False
4                                   True                             False
...                                  ...                               ...
3499                                True                             False
3500                                True                             False
3501                                True                             False
3502                                 NaN                               NaN
3503                                 NaN                               NaN

     hdpData.homeInfo.isZillowOwned hdpData.homeInfo.currency  \
0                             False                       USD
1                             False                       USD
2                             False                       USD
3                             False                       USD
4                             False                       USD
...                             ...                       ...
3499                          False                       USD
3500                          False                       USD
3501                          False                       USD
3502                            NaN                       NaN
3503                            NaN                       NaN

     hdpData.homeInfo.country  hdpData.homeInfo.taxAssessedValue  \
0                         USA                           351229.0
1                         USA                           334992.0
2                         USA                           365188.0
3                         USA                           337730.0
4                         USA                           108200.0

In [19]:
to_drop = ["isFavorite", "isUserClaimingOwner", "isUserConfirmedClaim", "imgSrc", "hasImage",
           "visited", "shouldShowZestimateAsPrice", "detailUrl", "sgapt", "has3DModel",
           "hasVideo", "isHomeRec", "address", "hasAdditionalAttributions", "isFeaturedListing",
           "isShowcaseListing", "availabilityDate", "latLong.latitude", "latLong.longitude",
           "variableData.type", "variableData.text", "hdpData.homeInfo.zpid", "hdpData.homeInfo.streetAddress",
           "hdpData.homeInfo.latitude", "hdpData.homeInfo.longitude", "hdpData.homeInfo.price", "hdpData.homeInfo.bathrooms",
           "hdpData.homeInfo.bedrooms", "hdpData.homeInfo.livingArea", "hdpData.homeInfo.homeStatus", "hdpData.homeInfo.daysOnZillow",
           "hdpData.homeInfo.isFeatured", "hdpData.homeInfo.shouldHighlight", "hdpData.homeInfo.listing_sub_type.is_FSBA",
           "hdpData.homeInfo.isUnmappable", "hdpData.homeInfo.isPreforeclosureAuction", "hdpData.homeInfo.homeStatusForHDP",
           "hdpData.homeInfo.priceForHDP", "hdpData.homeInfo.isNonOwnerOccupied", "hdpData.homeInfo.isPremierBuilder",
           "hdpData.homeInfo.isZillowOwned", "hdpData.homeInfo.currency", "hdpData.homeInfo.country", "hdpData.homeInfo.taxAssessedValue",
           "hdpData.homeInfo.lotAreaValue", "hdpData.homeInfo.lotAreaUnit", "hdpData.homeInfo.isShowcaseListing", "variableData",
           "hdpData.homeInfo.zestimate", "hdpData.homeInfo.rentZestimate", "hdpData.homeInfo.unit", "hdpData.homeInfo.datePriceChanged",
           "hdpData.homeInfo.priceReduction", "hdpData.homeInfo.priceChange", "hdpData.homeInfo.listing_sub_type.is_newHome",
           "hdpData.homeInfo.newConstructionType", "streetViewMetadataURL", "streetViewURL", "variableData.data.isFresh",
           "buildingId", "lotId", "minBeds", "minBaths", "minArea", "unitCount", "buildingName", "isBuilding", "badgeInfo",
           "canSaveBuilding", "hdpData.homeInfo.listing_sub_type.is_openHouse", "hdpData.homeInfo.openHouse",
           "hdpData.homeInfo.open_house_info.open_house_showing", "hdpData.homeInfo.listing_sub_type.is_bankOwned",
           "hdpData.homeInfo.videoCount", "lotAreaString", "hdpData.homeInfo.isRentalWithBasePrice", 
           "hdpData.homeInfo.listing_sub_type.is_forAuction", "plid", "communityName", "style", 
           "isCdpResult", "hdpData.homeInfo.listing_sub_type.is_comingSoon", "priceLabel",
           "listingType", "pgapt", "isPropertyResultCDP", "hdpData.homeInfo.group_type", "hdpData.homeInfo.priceSuffix",
           "hdpData.homeInfo.providerListingID", "info3String", "info1String", "brokerName", "badgeInfo.type",
           "badgeInfo.text", "statusText", "statusType", "timeOnZillow"
           
           
           ]

In [20]:
zillow_data = df_listings_combined.drop(columns=to_drop)

In [21]:
zillow_data.head()

,zpid,price,beds,baths,area,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.homeType
0,44329567,"$498,000",3.0,2.0,1986.0,33186,Miami,FL,SINGLE_FAMILY
1,43810739,"$460,000",3.0,2.0,1656.0,33142,Miami,FL,SINGLE_FAMILY
2,43816067,"$550,000",5.0,3.0,1775.0,33127,Miami,FL,SINGLE_FAMILY
3,44363861,"$485,000",3.0,2.0,1509.0,33177,Miami,FL,SINGLE_FAMILY
4,62926081,"$175,900",1.0,1.0,496.0,33125,Miami,FL,CONDO

In [25]:
#Replacing the '$' and ',' in the price column
zillow_data['price'] = zillow_data['price'].str.replace('$', '').str.replace(',', '').str.replace('From', '').str.replace('+', '')

#Replacing the 'K' notation
zillow_data['price'] = zillow_data['price'].replace(r'[Kk]', '', regex=True).astype(float)

#Converting price column to int data type
zillow_data['price'] = zillow_data['price'].astype(int)

AttributeError: Can only use .str accessor with string values!

In [26]:
#Replacing 525 with 525000
zillow_data['price'] = zillow_data['price'].replace([525], 525000)

In [27]:
#viewing the number of missing values in the data
zillow_data.isna().sum()

zpid                         352
price                          0
beds                         407
baths                        385
area                         403
hdpData.homeInfo.zipcode     352
hdpData.homeInfo.city        352
hdpData.homeInfo.state       352
hdpData.homeInfo.homeType    352
dtype: int64

After viewing the amount of missing values in the data, I decided to drop all missing values. There were missing values in the state column and since we couldn't determine the state those values belonged to, they were all dropped. A similar approach was taken for the beds and baths columns. We couldn't determine the number of bedrooms or bathrooms in a house based on the data present so all rows with values missing in those columns were dropped. I did leave in place rows with 0 beds or 0 baths as these may represent studio style living or shared living areas. I decided not to use any sort of data smoothing methods at this time due to the nature of the data. If we applied the standard deviation method or median method to the bed and bath column, that would create a large bias in the data as we may end up with a house that costs only 100,000 but has 4 beds and 3 baths. A result like that would cause our recommendation system to always pick that option.

In [28]:
zillow_data.dropna(inplace=True)

In [29]:
zillow_data.head()

,zpid,price,beds,baths,area,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.homeType
0,44329567,498000,3.0,2.0,1986.0,33186,Miami,FL,SINGLE_FAMILY
1,43810739,460000,3.0,2.0,1656.0,33142,Miami,FL,SINGLE_FAMILY
2,43816067,550000,5.0,3.0,1775.0,33127,Miami,FL,SINGLE_FAMILY
3,44363861,485000,3.0,2.0,1509.0,33177,Miami,FL,SINGLE_FAMILY
4,62926081,175900,1.0,1.0,496.0,33125,Miami,FL,CONDO

There are a few values in the dataframe that is less than 1000, in order to stop the model from always selecting those are options, we will remove anything from the dataframe that is less than 1000 in price. We're also going to remove rows where the area is equal to 0 as this may skew results later. We want to include the area column in our recommendation system as part of the family factor.

In [30]:
zillow_data = zillow_data[zillow_data['price'] >= 1000]
zillow_data = zillow_data[zillow_data['area'] >= 2]

In [31]:
zillow_data.head()

,zpid,price,beds,baths,area,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.homeType
0,44329567,498000,3.0,2.0,1986.0,33186,Miami,FL,SINGLE_FAMILY
1,43810739,460000,3.0,2.0,1656.0,33142,Miami,FL,SINGLE_FAMILY
2,43816067,550000,5.0,3.0,1775.0,33127,Miami,FL,SINGLE_FAMILY
3,44363861,485000,3.0,2.0,1509.0,33177,Miami,FL,SINGLE_FAMILY
4,62926081,175900,1.0,1.0,496.0,33125,Miami,FL,CONDO

In [32]:
#Renaming the columns for easier access 
zillow_data.rename(columns={'hdpData.homeInfo.zipcode' : 'zipcode', 'hdpData.homeInfo.city' : 'city', 'hdpData.homeInfo.state' : 'state', 'hdpData.homeInfo.homeType' : 'homeType'}, inplace=True)

In [33]:
#Creating a new column that calculates the price per square foot
zillow_data['pricePerSQFT'] = round(zillow_data['price'] / zillow_data['area'])

In [34]:
#Converting the results to an interger
zillow_data['pricePerSQFT'] = zillow_data['pricePerSQFT'].astype(int)

In [36]:
#Saving data frames for later use
zillow_data.to_csv(r'../data/zillow_data.csv')
df_listings_combined.to_csv(r'../data/df_listings_combined.csv')